<div class="header">
    <div class="wrapper wrapper3">
        <div class="header__container">
            <a href="#" class="header__container-logo">
                {{Icon iconName="logo"}}
            </a>
            <a href="#" class="header__container-logo_rzd">
                {{Icon iconName="logo_rzd"}}
            </a>
            <a href="#" class="header__container-a">
                <p>Сайт музея</p>
                {{Icon iconName="arr_r"}}
            </a>
        </div>
    </div>
</div>